body {
    display: flex;
    background-color: cyan;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    user-select: none;
    overflow: hidden;
    height: 100%;
    /* padding: 1em; */
    font-size: 3em;
    touch-action: manipulation;
}

input {
    font-size: 1em;
}

button {
    font-size: 1em;
}

main {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    background-color: antiquewhite;
    /* flex-grow: 1; */
    margin: .3em;
}

#phone {
    padding: .3em;
    margin: .3em;
}

#enter {
    padding: .3em;
    margin: .3em;
}

#footer {
    display: flex;
    align-items: center;
    width: 100%;
}

#inc {
    background-color: antiquewhite;
    /* padding: .4em; */
    /* flex-shrink: 1; */
    margin: .3em;
}

div#devs {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* common */

.spacer {
    flex-grow: 1;
}